<h1 class="d-inline mr-3"><%= @restaurant.name %></h1>
<h3 class="d-inline"><%= @restaurant.category %></h3>
<br>
<br>
<ul>
  <li>You can find us at: <%= @restaurant.address %></li>
  <li>Give us a call at: <%= @restaurant.phone_number %></li>
</ul>
<%= link_to 'Rate us ⭐️', new_restaurant_review_path(@restaurant), class: 'btn btn-primary btn-sm' %>
<br>
<br>
<h3>Reviews</h3>

<% @restaurant.reviews.each do |rev| %>
  <div class="container rev">
    <p><%= '⭐️' *  rev.rating %></p>
    <p><%= rev.content %></p>
  </div>
<% end %>
<%= link_to '< back', restaurants_path, class: 'btn btn-outline-primary' %>
